<div class="gtco-loader"></div>

<div id="page">
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-2">
					<div id="gtco-logo"><a href="/login">SAFE·n·SOUND</a></div>
				</div>
				<div class="col-xs-8 text-center menu-1">
					<ul>
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/#gtco-features">Features</a></li>
						<li><a href="/#gtco-features-2">Purpose</a></li>
						<li><a href="/#gtco-counter">Facts</a></li>
						<li><a href="/#gtco-services">You</a></li>
						<li><a href="/#gtco-started">Sign up</a></li>
					</ul>
				</div>
				<div class="col-xs-2 text-right hidden-xs menu-2">
					<ul>
						<li class="btn-cta"><a href="/login"><span>Login</span></a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/images/imgunblurred.jpg);">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>SAFE·n·SOUND</h1>
							<h2 style="text-transform: none">Preventing mass shootings by locating threats with
                                crowdsourced data</h2>
							<p><a href="/platform" class="btn btn-default btn-success">Get Started</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-eye"></i>
						</span>
						<h3>Watchful Waiting</h3>
						<p>Keeping track of potential threats, and only ever getting in your way when they turn real.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-map-marker"></i>
						</span>
						<h3>Immediately Responsive</h3>
						<p>Sends out alerts within seconds of identifying and locating threats, so you always stay safe.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-mobile"></i>
						</span>
						<h3>Hands-free? Try phone-free</h3>
						<p>Compatible with Android, iOS and IoT beacons. With no one near the tree, you still hear the sound.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-features-2">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Why Choose Us</h2>
					<p>Let's approach this by means of contradiction. What would happen if you don't choose us? Things
                        like what happened in Vegas a week ago or even the Orlando shooting would be constant. The
                        reality of the matter is that man ceases to think when calamities strike. All he thinks is "I
                        need to get myself out of this situation" but how, he has no clue.</p>
                    <p>That's where Safe·n·Sound comes into play. Our system allows users across a variety of platforms
                        to track the sound of gunshots in a certain area, and then based the set of all wavelengths and
                        frequencies of the gunshot that are recorded by users in proximity, we are able to track down
                        the shooter by his geographic coordinates and give people a rational way of evacuating the
                        premise.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Precision</h3>
							<p>Not only is our system able to detect a shooter's location, but it is also able to do so
                                within an accuracy of three to five meters from the location of the shooter. By alerting our
                                customers of the nearby threat as well as the direction in which it's proceeding,
                                we ignite in them a way to logically think their way out.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Speed</h3>
							<p>Precision is one thing, but speed is another. Suppose a shooter is within 20 meters of you,
                                but a detection app takes forever to notify you that there's a nearby danger. What would
                                then be your fate? Injury? Possibly death? That's where speed is crucial, and that's what
                                we bring to the table. We make it our best aim to not only inform customers of the location
                                of the shooter but also do so at high speeds.</p>
						</div>
					</div>

					<div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
						<div class="feature-copy">
							<h3>Ready To Use</h3>
							<p>Our app is easily accessible across a multitude of platforms, so device type isn't an
                                issue. Moreover, there isn't much to it. All it takes is a simple registration of an
                            account, and you're all set. The rest of the duty is on us.</p>
						</div>
					</div>

				</div>

				<div class="col-md-6">
					<div class="gtco-video gtco-bg" style="background-image: url(/images/img_1.jpg); ">
						<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i
								class="icon-video2"></i></a>
						<div class="overlay"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-counter" class="gtco-bg gtco-counter" style="background-image:url(/images/img_bg_2.jpg);">
		<div class="gtco-container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-eye"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="372" data-speed="5000"
									  data-refresh-interval="50">1</span>
								<span class="counter-label">Mass Shootings in 2015</span>

							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-anchor"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="1870" data-speed="5000"
									  data-refresh-interval="50">1</span>
								<span class="counter-label">Killed or Injured</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-briefcase"></i>
								</span>
								<span class="counter js-counter" data-from="0" data-to="264" data-speed="5000"
									  data-refresh-interval="50">1</span>
								<span class="counter-label">Shootings in Schools</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="300" data-speed="5000"
									  data-refresh-interval="50">1</span>
								<span class="counter-label">Million Guns in the US</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-services">
		<div class="gtco-container">

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Help Us Out</h2>
					<p>Our platform relies on people just like you contributing data across the planet, keeping everyone everywhere safe and sound.</p>
				</div>
			</div>

			<div class="row animate-box">

				<div class="gtco-tabs">
					<ul class="gtco-tab-nav">
						<li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i
								class="fa fa-android"></i></span><span class="hidden-xs">Android</span></a></li>
						<li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="fa fa-apple"></i></span><span
								class="hidden-xs">iOS</span></a></li>
						<li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="fa fa-chrome"></i></span><span
								class="hidden-xs">Browser</span></a></li>
						<li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="fa fa-wifi"></i></span><span
								class="hidden-xs">Beacon</span></a></li>
					</ul>

					<!-- Tabs -->
					<div class="gtco-tab-content-wrap">

						<div class="gtco-tab-content tab-content active" data-tab-content="1">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="fa fa-android"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>Android</h2>
								<p>Use our Android app to get access to the latest alerts in your area. In the background,
									you'll be contributing the source data we rely on to detect threat conditions and
									locate them before you become the next victim. We'll let you know if you can help.</p>

								<p>You're only a click away. Just think of the many lives you'll be saving. Your
                                    contribution will help improve our precision in locating threats, and more importantly
                                    generate a safer, more welcoming world.</p>

							</div>
						</div>

						<div class="gtco-tab-content tab-content" data-tab-content="2">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="fa fa-apple"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>iOS</h2>
								<p>By using our iOS app, you'll be able to receive notifications of nearby threats and
                                    the best possible routs of evacuating the premice under attack. Moreover, not only
                                    will you be helping yourself, but you'll also be saving others by keeping dangers
                                    under check..</p>

								<p>The more of you that join, the better. As our customer count grows larger, our data
                                    tracking precision becomes much more accurate. Protect yourself and others by
                                    installing our app.</p>

							</div>
						</div>

						<div class="gtco-tab-content tab-content" data-tab-content="3">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="fa fa-chrome"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>Browsers & WWW</h2>
								<p>Increase in web productivity --> Increase in customres --> increase in data precision
                                    --> decrease in lives lost. That's as simple as it gets. You guys go out and spread
                                    the word, and our data will become more and more accurate. Without you guys, we're
                                    meaningless. And without us, you guys are in no certain safe hands.</p>

								<p>By helping spread the word, you guys can enable us to help this world become a safer
                                    place not just for you guys and us but for all.</p>

							</div>
						</div>

						<div class="gtco-tab-content tab-content" data-tab-content="4">
							<div class="col-md-6">
								<div class="icon icon-xlg">
									<i class="fa fa-wifi"></i>
								</div>
							</div>
							<div class="col-md-6">
								<h2>Beacons</h2>
								<p>A handheld device won't always be there for a person under threat. That's just a fact
                                    of life, whether we accept it to be true or not. If cities and governments can install
                                    beacons around their areas, we can clear up any shooting. Everything becomes under
                                    check, thereby making it difficult for mass shootings to take place.</p>

								<p>It is our ethical duty to assist in preserving human life. Otherwise, we ourselves
                                    are devoid of life. By installing these beacons arounds towns, cities, or even states,
                                    we can reduce these shootings to a minimum.</p>

							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>


	<div id="gtco-started">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Get Started</h2>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-12">
					<form class="form-inline">
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="form-group">
								<label for="password" class="sr-only">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password">
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<button type="submit" class="btn btn-default btn-block">Sign Up</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-pb-md">
				<div class="col-md-4 gtco-widget">
					<h3>A Word From Us</h3>
					<p>We’re a group of four crazy college students who just wanted to build something awesome. When we
                        heard of Vegas, we knew someone had to make this, so we figured why not us?</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="gtco-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="gtco-footer-links">
						<li><a href="https://github.com/talglobus/safensound">Open Source</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="gtco-footer-links">
						<li><a href="#">Government</a></li>
						<li><a href="#">Corporate</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2017 SAFE·n·SOUND. All Rights Reserved.</small>
					</p>
					<p class="pull-right">
					<ul class="gtco-social-icons pull-right">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-linkedin"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
					</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="js/main.js"></script>