<div class="gtco-loader"></div>

<div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="gtco-logo"><a href="/login">SAFE·n·SOUND</a></div>
                </div>
                <div class="col-xs-8 text-center menu-1">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/#gtco-features">Features</a></li>
                        <li><a href="/#gtco-features-2">Purpose</a></li>
                        <li><a href="/#gtco-counter">Facts</a></li>
                        <li><a href="/#gtco-services">You</a></li>
                        <li><a href="/#gtco-started">Sign up</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-2 text-right hidden-xs menu-2">
                    <ul>
                        <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/images/imgbgblurred.jpg);">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>SAFE·n·SOUND</h1>
                            <h2 style="text-transform: none">Using the power of people to protect them</h2>
                            <p><a href="#" class="btn btn-default">Get Started</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="gtco-features">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-eye"></i>
						</span>
                        <h3>Watchful Waiting</h3>
                        <p>Keeping track of potential threats, and only ever getting in your way when they turn real.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-map-marker"></i>
						</span>
                        <h3>Immediately Responsive</h3>
                        <p>Sends out alerts within seconds of identifying and locating threats, so you always stay safe.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-mobile"></i>
						</span>
                        <h3>Hands-free? Try phone-free</h3>
                        <p>Compatible with Android, iOS and IoT beacons. With no one near the tree, you still hear the sound.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-features-2">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Why Choose Us</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                        Odit ab aliquam dolor eius.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Retina Ready</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque
                                dicta adipisci architecto culpa amet.</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Fully Responsive</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque
                                dicta adipisci architecto culpa amet.</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
						<span class="icon">
							<i class="icon-check"></i>
						</span>
                        <div class="feature-copy">
                            <h3>Ready To Use</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque
                                dicta adipisci architecto culpa amet.</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="gtco-video gtco-bg" style="background-image: url(/images/img_1.jpg); ">
                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i
                                class="icon-video2"></i></a>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-counter" class="gtco-bg gtco-counter" style="background-image:url(/images/img_bg_2.jpg);">
        <div class="gtco-container">
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-eye"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="372" data-speed="5000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Mass Shootings in 2015</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-anchor"></i>
								</span>

                                <span class="counter js-counter" data-from="0" data-to="1870" data-speed="5000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Killed or Injured</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-briefcase"></i>
								</span>
                                <span class="counter js-counter" data-from="0" data-to="264" data-speed="5000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Shootings in Schools</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>
                                <span class="counter js-counter" data-from="0" data-to="300" data-speed="5000"
                                      data-refresh-interval="50">1</span>
                                <span class="counter-label">Million Guns in the US</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="gtco-services">
        <div class="gtco-container">

            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Help Us Out</h2>
                    <p>Our platform relies on people just like you contributing data across the planet, keeping everyone everywhere safe and sound.</p>
                </div>
            </div>

            <div class="row animate-box">

                <div class="gtco-tabs">
                    <ul class="gtco-tab-nav">
                        <li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i
                                class="fa fa-android"></i></span><span class="hidden-xs">Android</span></a></li>
                        <li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="fa fa-apple"></i></span><span
                                class="hidden-xs">iOS</span></a></li>
                        <li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="fa fa-chrome"></i></span><span
                                class="hidden-xs">Browser</span></a></li>
                        <li><a href="#" data-tab="4"><span class="icon visible-xs"><i class="fa fa-wifi"></i></span><span
                                class="hidden-xs">Beacon</span></a></li>
                    </ul>

                    <!-- Tabs -->
                    <div class="gtco-tab-content-wrap">

                        <div class="gtco-tab-content tab-content active" data-tab-content="1">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="fa fa-android"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>Android</h2>
                                <p>Use our Android app to get access to the latest alerts in your area. In the background,
                                    you'll be contributing the source data we rely on to detect threat conditions and
                                    locate them before you become the next victim. We'll let you know if you can help.</p>

                                <p>You're only a click away. Just think of the many lives you'll be saving. Your
                                    contribution will help improve our precision in locating threats, and more importantly
                                    generate a safer, more welcoming world.</p>

                                <!-- <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci
                                    dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo
                                    reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat
                                    soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga
                                    molestiae asperiores obcaecati corporis sint illo facilis.</p> -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Keep it simple</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Less is more</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="2">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="fa fa-apple"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>iOS</h2>
                                <p>By using our iOS app, you'll be able to receive notifications of nearby threats and
                                    the best possible routs of evacuating the premice under attack. Moreover, not only
                                    will you be helping yourself, but you'll also be saving others by keeping dangers
                                    under check..</p>

                                <p>The more of you that join, the better. As our customer count grows larger, our data
                                    tracking precision becomes much more accurate. Protect yourself and others by
                                    installing our app.</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Ready to use</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">100% Satisfaction</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="3">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="fa fa-chrome"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>e-Commerce</h2>
                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat
                                    soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga
                                    molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci
                                    dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo
                                    reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Easy to shop</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">No credit card required</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="gtco-tab-content tab-content" data-tab-content="4">
                            <div class="col-md-6">
                                <div class="icon icon-xlg">
                                    <i class="fa fa-wifi"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2>Logo &amp; Branding</h2>
                                <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci
                                    dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo
                                    reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

                                <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat
                                    soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga
                                    molestiae asperiores obcaecati corporis sint illo facilis.</p>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h2 class="uppercase">Pixel perfect</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="uppercase">User Interface Expert</h2>
                                        <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="gtco-started">
        <div class="gtco-container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>Get Started</h2>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-12">
                    <form class="form-inline">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button type="submit" class="btn btn-default btn-block">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer id="gtco-footer" role="contentinfo">
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-4 gtco-widget">
                    <h3>The Company</h3>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
                        adipisci architecto culpa amet.</p>
                    <p><a href="#">Learn More</a></p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="https://github.com/talglobus/safensound">Open Source</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
                    <ul class="gtco-footer-links">
                        <li><a href="#">Government</a></li>
                        <li><a href="#">Corporate</a></li>
                        <li><a href="#">API</a></li>
                    </ul>
                </div>
            </div>

            <div class="row copyright">
                <div class="col-md-12">
                    <p class="pull-left">
                        <small class="block">&copy; 2017 SAFE·n·SOUND. All Rights Reserved.</small>
                    </p>
                    <p class="pull-right">
                    <ul class="gtco-social-icons pull-right">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Main -->
